{% extends 'base.html.twig' %}

{% block title %}Hello ViewController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>voir les videos déjà vu</h1>
    {% for view in views %}
    <ul>
        <li>{{ view.name }}</li>
    </ul>
    <div class="col">
    <div class="card">
        <img src="{{video.videoName}}" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">{{video.nom}}</h5>
        <p class="card-text">{{video.description}}</p>
    </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
