
/* font-family: 'Patrick Hand', cursive;
font-family: 'Patrick Hand SC', cursive;
font-family: 'Permanent Marker', cursive; */

/*______________ Code pour personnaliser la nav et le body communs______________ */

body {
    background-image: url("/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Patrick Hand', cursive;
}

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
}

.nav-item, h1 {
    font-family: 'Patrick Hand SC', cursive;
    text-align: center;
}

/*______________ Code pour personnaliser la page HOME______________ */

#home-page {
    text-align:center;
    font-family: 'Patrick Hand SC', cursive;
}

#home-page .home-image {
    width:70%;
}

#home-page h3 {
    color:#F7941D; 
}

#home-page footer {
    background-color: #C346E8;
}

/* Code pour login */
#login-container {
    background-color: #C346E8;
    border-radius: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 30%;
    color:white;
}

#login-button {
    background-color:#F7941D;
    margin-top: 15px;
    color: white;
}

#login-inscrire{
    display: flex;
    margin: auto;
    justify-content: center;
    margin-top:5px;
}

#login-titre {
    padding-top: 20px;
    display:flex;
    justify-content: center;
}
