{% extends 'base.html.twig' %}

{% block title %}Study Buddy - Toutes les catégories{% endblock %}

{% block body %}
    <h1 class="mb-3"><i data-feather="search"></i> Toutes les catégories <i data-feather="search"></i></h1>


    <div class="row">
    {% for category in categorys %}

    <div class=" col-12 col-md-3 col-lg-3 mb-3">
        
            <a href="{{ path ('app_category_show', {slug:category.slug }) }}" class="btn btn-light btn-outline-primary shadow">
                <img src="{{ asset('/images/category/' ~ category.imageName) }}" class="card-img-top" alt="{{category.name}}">
                <h2>{{category.name}}</h2>
            </a>
        
    </div>

{% endfor %}
    </div>
{% endblock %}

