{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_category_index') }}" class="btn btn-dark mb-3">Retour</a>
    <h1>Nouvelle category</h1>
    {{ include('admin_category/_form.html.twig') }}

{% endblock %}
