<form method="post" action="{{ path('app_admin_view_delete', {'id': view.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet item ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ view.id) }}">
    <button class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button>

    {# <button class="btn btn-danger"><i class="align-middle" data-feather="trash-2"></i></button> #}
</form>
