{% extends 'base-backend.html.twig' %}

{% block title %}Nouvelle vue{% endblock %}

{% block body %}
    <h1>Nouvelle vue </h1>    
    <a href="{{ path('app_admin_view_index') }}" class="btn btn-dark mb-3">Retour</a>

    {{ include('admin_view/_form.html.twig') }}


{% endblock %}
