{% extends 'base-backend.html.twig' %}

{% block title %}Nouvel auteur{% endblock %}

{% block body %}
    <a href="{{ path('app_admin_author_index') }}" class="btn btn-dark mb-3">Retour</a>
    <h1>Nouvel auteur</h1>
    {{ include('admin_author/_form.html.twig') }}

{% endblock %}
